.search__infoBar {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
}

.search__infoBar--text {
  display: flex;
  align-items: flex-start;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: bold !important;
  margin: 8px 8px 8px 8px;
  width: calc(0.75 * (100vw - 28px));
  min-width: 747px;
  max-width: 1347px;
}

.search__content {
  display: flex;
  padding-top: 14px;
  margin: 0 auto;
}

.search__filtersPanel {
  flex: 1;
}

.search__results {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.search__results--title {
  color: #0f1111;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
}

.search__results--container {
  padding: 0px 4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
